@import 'bourbon/bourbon';
@import 'neat/neat';

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}

.hero-unit {
  margin: 50px auto 0 auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: red;
  border-radius: 6px;
  padding: 60px;
  text-align: center;
  @include outer-container;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.leftColumn {
  @include span-columns(4);
  background-color: blue;
}

.rightColumn {
  @include span-columns(8);
  background-color: blue;
}

li.block {
  @include span-columns(3);
  @include omega(3n);
  background-color: green;
}